<div class="mytimetable-show-wrapper">
  <div class="title">
    <h1><%= @festival.name %></h1>
  </div>
  <p>period_id日目</p>
  
<div class="table">
  <div class="table__head">
    <% @festival.stages.each do |stage| %>
      <div class="table__heading"><%= stage.name %></div>
    <% end %>  
  </div>

  <div class="table__body">
    <% @festival.stages.each do |stage| %>
      <div id="table-cell" class="table__columns">
        <% stage.artists.each do |artist| %>
          <div class="table__item">
            <% if artist.name.length == 0 %>
              出演アーティストはいません
            <% else %>
              <%= artist.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

