.table {
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid #fff;
  &__head {
    display: flex;
    border-bottom: 1px solid #fff;
  }
  &__heading {
    font-size: 20px;
    color: #808080;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 160px;
    padding: 0 24px;
    border-right: 1px solid #fff;
    &:last-child {
      border-right: none;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
  }
  &__columns {
    width: 160px;
    border-right: 1px solid #fff;
    position: relative;
    left: 0;
    &:last-child {
      border-right: none;
    }
  }
  &__item {
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out 0.1s;
    position: absolute;
    &:last-child {
      // border-bottom: none;
    }
    &--selected {
      background: #ffffff;
    }
  }
  &__item-time {
    color: #ff0000;
    font-size: 10px;
    width: 20%;
  }
  &__item-artistname {
    width: 80%;
  }
}

.table__item.isActive {
  background-color: #ffffff;
  color: #000;
}